<h1>CPA Exam Professor</h1>

<ul>
	<% @subjects.each do |subject| %>
		<li> <%= subject.question %> </li>
		     <p>Answers:</p>
		     <%= subject.answer_one %> <br>
		     <%= subject.answer_two %> <br>
		     <%= subject.answer_three %> <br>
		     <%= subject.answer_four %>

	<%end%>
</ul>